body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: plum;
    color: rgb(105, 101, 101);
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px 20px 45px;
}

footer {
    background-color: plum;
    color: rgb(105, 101, 101);
    font-family: Arial;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: green;
    text-decoration: none;
    transition: 0.5s 2s;
}

a:link{
    color: rgb(6, 114, 37);
    text-decoration: none;
}

a:visited{
    color: rgb(36, 6, 114);
    text-decoration: none;
    font-style: italic ;
}

a:hover {
color: red;
text-decoration: underline;
text-shadow: 8px 2px 3px rgba(93, 95, 224, 0.5);
font-style: italic ;
transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #6164fe80;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover{
    background-color: #ff4ba530;
    box-sizing: 0 0 15px #00000030;
}